<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Times:</strong>
  <%= @section.times %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
